header {
  background-color: fuchsia;
  border: 20px double black;
  color: greenyellow;
  font-size: 200px;
  text-align: center;
}

footer {
  background-color: fuchsia;
  color: black;
  border: 1em double black;
  text-align: center;
  font-size: 20px;
}

body {
  background-image: url(/images/aYCLqd.jpg);
}

#navbar {
  background: slategrey;
  border: 1px dotted red;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  padding: 5em;
  display: inline;
}

#navbar a {
  color: blue;
  font-size: 18px;
  padding-right: 15px;
}

.wrapper {
  display: grid;
  margin: 3em;
  padding: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.box1 {
  background-color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.box2 {
  display: grid;
  grid-template-columns: 30% auto auto;
  background-color: aqua;
  font-size: 18px;
  font-weight: bold;
  border: 2em dotted black;
  border-radius: 18px;
  text-align: center;
  padding-left: 3em;
  padding-top: 2em;
}

.box2 ul {
  list-style: none;
  padding-bottom: 1em;
}

.box2 img {
  width: 300px;
  height: auto;
  border: 5px black solid;
  border-radius: 10em;
}
