header {
  border: 20px double fuchsia;
  color: greenyellow;
  font-size: 200px;
  text-align: center;
}

body {
  background-image: url(../images/dots.gif);
}

footer {
  background-color: fuchsia;
  color: black;
  border: 1em double black;
  text-align: center;
  font-size: 20px;
}

#navbar {
  background: slategrey;
  border: 1px dotted red;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  padding: 5em;
  display: inline;
}

#navbar a {
  color: blue;
  font-size: 18px;
  padding-right: 15px;
}

.container {
  width: 80%;
  margin: 5em;
  margin-left: 10em;
  overflow: hidden;
  background-color: blanchedalmond;
  box-align: center;
  border: 3em dotted magenta;
  border-radius: 25px;
}

.introduction {
  padding-top: 2em;
  color: black;
  font-size: 24px;
  text-align: center;
}

.homeGif {
  text-align: center;
  padding-bottom: 5em;
}

.construction {
  display: grid;
  grid-template-columns: 33% auto auto;
  text-align: center;
  background: beige;
  font-size: 30px;
  margin: 2em;
  padding: 1em;
}

.gif3 {
  padding-left: 35em;
}
