header {
  background-color: fuchsia;
  border: 20px double black;
  color: greenyellow;
  font-size: 200px;
  text-align: center;
}

footer {
  background-color: fuchsia;
  color: black;
  border: 1em double black;
  text-align: center;
  font-size: 20px;
}

body {
  background-color: black;
  background-image: url(/images/56Jo.gif);
}

#navbar {
  background: slategrey;
  border: 1px dotted red;
}

#navbar ul {
  padding: 0;
  list-style: none;
}

#navbar li {
  padding: 5em;
  display: inline;
}

#navbar a {
  color: blue;
  font-size: 18px;
  padding-right: 15px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  margin: 3em;
  padding: 2em;
  grid-gap: 2em;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 20% 60% auto;
}

.container audio {
  padding-left: 30em;
  display: none;
}

.box1 {
  background: orangered;
  color: black;
  border: 10px black dashed;
  font-size: 4em;
  font-weight: bold;
}
